@media screen and (min-width: 800px) { 
  
  .content {
    h1 {
      margin: 0px 0 20px;
      text-align: left;
    }
  }
  .meta {
    font-size: 13px;
    display: block;
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
  }

}

.featured {
  max-height: 330px;
  margin-bottom: 25px;
}