h1 {
  font-size: 2.5rem;
  font-weight:500;
  line-height: 1.3;
}

h2 {
  font-size: 1.9rem;
  margin-top: 20px;
}

h6 {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #95afc0;
  font-weight:500;
}

h4 {
  font-weight: 500;
  color: #02020B;
}

p {
  font-size: 1.3rem;
  color: #02020B;
}

ol, li {
  font-size: 1.3rem;
  color: #02020B;
  margin: 1rem 0rem;
}

.client {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 3rem;
  color: #02020B;
}

.updated {
  margin-top: 1.5rem;
}





@media screen and (min-width: 800px) { 
  
  .content {
    h1 {
      margin: 20px 0 20px;
      text-align: left;
      font-size: 3rem;
      line-height: 1.3;
    }
  }
  .meta {
    font-size: 13px;
    display: block;
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
  }

}

.featured {
  max-height: 330px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


