

h6 {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #95afc0;
  font-weight:500;
}

@media screen and (min-width: 800px) { 
  
  .content {
    h1 {
      margin: 20px 0 20px;
      text-align: left;
      font-size: 2.5rem;
      line-height: 1.2;
    }
  }
  .meta {
    font-size: 13px;
    display: block;
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
  }

}

.featured {
  max-height: 330px;
  margin-bottom: 25px;
}

